################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eTicket/eTicket.csproj
/eTicket.sln
